.header {
  height: 84px;
  background: var(--contrast-background);
  color: var(--contrast-color);
}

.header a {
  color: var(--contrast-color);
}

.headerContainer {
  max-width: var(--content-width);
  margin: 0 auto;
  height: inherit;
  display: flex;
  align-items: center;
}

.leftColumn {
  display: flex;
  align-items: center;
  height: inherit;
  flex-grow: 1;
}

.leftColumn {

}

.logo {
  font-size: 32px;
  font-weight: 700;
}
