@import "./ui/theme/colors.css";
@import "./ui/theme/dimensions.css";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background: var(--background);
  color: var(--text-primary);
}

a {
  text-decoration: none;
}
