:root {
  --text-primary: #1b1f23;
  --ligth-grey: #E1E3E6;
  --grey: #999FA6;
  --contrast-background: #333;
  --contrast-color: #fff;
  --background: #f5f5f5;
  --primary: #ff5500;
  --primary-dimmed: #ffa375;
  --content-background: #fff;
}
