.posterContainer {
  composes: cardImage from '../Card/Card.module.css';
  width: 400px;
  height: 500px;
  border-radius: var(--border-radius);
  overflow: hidden;
}

.poster {
  object-fit: cover;
}

.rightColumn {
  flex-grow: 1;
}

.header {
  display: flex;
}

.title {
  flex-grow: 1;
}

.fields dl {
  font-size: var(--font-size-2);
  line-height: 1.6;
}

.fields dt, .fields dd {
  margin-bottom: var(--margin-3);
}

.fields dt {
  margin-right: 8px;

  font-weight: 600;
  margin-bottom: var(--margin-3);
}

.fields dt:not(.description) {
  float: left;
  clear: left;
}

.description {
  margin-top: var(--margin-5);
  margin-bottom: 0;
}
