.card,
.cardColumns {
  padding: 24px;
  border-radius: var(--border-radius);
  background: var(--content-background);
}

.cardColumns {
  display: flex;
  gap: 24px;
}

.cardImage {
  border-radius: var(--border-radius);
  width: 100px;
  height: 100px;
  position: relative;
  flex-shrink: 0;
}
