.card,
.cardColumns {
  padding: 24px;
  border-radius: 8px;
  background: #fff;
}

.cardColumns {
  display: flex;
  gap: 24px;
}

.cardImage {
  border-radius: 8px;
  width: 100px;
  height: 100px;
  position: relative;
  flex-shrink: 0;
}
