.footer {
  height: 86px;
  background: var(--contrast-background);
  color: var(--contrast-color);
  padding: 0 var(--margin-5);
}

.footer a {
  color: var(--contrast-color);
}

.footerContainer {
  max-width: var(--content-width);
  margin: 0 auto;
  height: inherit;
  display: flex;
  align-items: center;
}

.leftColumn {
  flex-grow: 1;
}

.rightColumn {

}
