.input-container {
    display: flex;
    flex-direction: column;
}

.input {
    padding: 0 16px;
    height: 40px;
    border-radius: var(--border-radius);
    border: 1px solid var(--ligth-grey);
    color: var(--text-primary);
    font-size: var(--font-size-0);
    font-weight: 400;
}

.input::placeholder {
    color: var(--grey);
}

.label {
    line-height: 20px;
    color: var(--text-primary);
    font-size: var(--font-size-0);
    font-weight: 400;
    margin-bottom: 4px;
}
