.dropdown {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.label {
  color: #1b1f23;
  font-size: 14px;
  line-height: 20px;
}

.selector {
  font-size: 14px;
  line-height: 20px;
  display: flex;
  justify-content: space-between;
  border-radius: 8px;
  padding: 10px 16px;
  border: 1px solid #e1e3e6;
}

.selectorDefault {
   color: #999fa6;
 }

.selectorActive {
   border: 1px solid #f50;
 }

.icon :global .accordion_svg__arrow {
  transform-origin: 50% 50%;
  transition: transform 0.3s ease-in-out;
}
.iconActive :global .accordion_svg__arrow {
  transform: rotate(-180deg);
}

.options {
  background-color: #FFF;
  position: absolute;
  box-sizing: border-box;
  margin: 0;
  list-style-type: none;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 8px;
  box-shadow: 0 10px 22px -4px rgba(27, 31, 35, 0.12);
}

.option {
  color: #1B1F23;
  font-size: var(--font-size-0);
  font-family: inherit;
  line-height: 20px;
  padding: 12px;
  border-radius: var(--border-radius);

}

.option:hover {
  background-color: var(--primary);
}
